# Salin file ini jadi ".env" di folder yang sama (root project, sejajar dengan docker-compose.yaml)
# lalu isi dengan kredensial Gmail App Password kamu yang asli.
# JANGAN commit file ".env" ke Git (sudah di-ignore lewat .gitignore).

MAIL_USERNAME=emailkamu@gmail.com
MAIL_PASSWORD=app_password_16_digit_gmail
